@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,400&display=swap');

body {
    background-color: #9D8420;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    color: #B0413E;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 30px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.column {
    width: 25vw;
    text-align: center;
    background: #E1F0C4;
    padding: 12px;
    border-radius: 8px;
}

img {
    width: 90%;
    border-radius: 8px;
}

.column > h3 {
    font-style: italic;
    color: #073B4C;
}

.column > p {
    text-align: left;
}

.top-nav {
    background-color: #DF9A57;
    padding: 0 8px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-around;
}

.menu {
    display: inline-block;
    padding: 8px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}
